langchain
langchain_openai

python-dotenv
langchain_community
langchain_chroma
chroma
langchain_core

streamlit
langchain_huggingface
huggingface_hub
langchain_groq
pypdf



################# for code assistance using codellama - ollama run codellama in terminal
langchain
gradio